<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order Hang US</title>  

    <!-- My style -->
    <link rel='stylesheet' href='public/css/bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='public/css/style.min.css' type='text/css' media='all' />
    <!-- My style -->
</head>

<body>
    <%-body%>

    <script type='text/javascript' src='public/js/libs/jquery.min.js'></script>      
    <script type='text/javascript' src='public/js/pages/app.min.js'></script>
</body>

</html>
