header .top-nav {
  height: 70px;
}
header .top-nav h1.logo {
  float: left;
}
header .top-nav .left-menu {
  float: left;
}
header .top-nav .left-menu li {
  float: left;
}
header .search-box {
  height: 192px;
  background-color: #000;
  opacity: 0.7;
}
